* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    
}
label{
    display: block;

}
input, select {
    line-height: 1.5rem;
    margin: 1rem 0;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

button {
    margin: 1rem 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
button {
    border: none;
    border-radius: 10px;
    background-color: #E176;
    padding: .75rem 1.375rem;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.selected {
    background-color: #E17654;
}

header {
    display: flex;
    flex: flex-row;
    justify-content: space-between;
    padding: 50px 0;
}

nav {
    display: flex;
    flex: flex-row;
    justify-content: flex-start;
    gap: 10px;
}

footer{
    padding: 5%;
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.van-filter-button-wrapper{
    display: flex;
    flex: flex-row;
    gap: 10px;
    width: 50%;
}
.van-list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 35px;
    margin: 10px 0;
   
}
.host-van-list-wrapper{
    width: 50%;
}
.host-van-list-wrapper img{
    width: 100%;
}
.van-list-item{
    width: 100%;
}

.van-list-item img {
    width: 100%;
}

.listed-vans-wrapper{
    width: 100%;
}

.van-list-item-wrapper{
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.van-list-item-text{
    width: 50%;
}
.van-list-item-wrapper img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.van-detail-wrapper {
    background: white;
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px;
}

.van-detail-wrapper img{
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

.van-detail-top {
    display: flex;
    flex-flow: row;
    gap: 20px;
}
.van-detail-bottom {
    margin: 20px 0;
}

.form-layout {
    display: flex;
    margin: 2rem 0;
    flex-flow: column;
    width: 50%;
}