a {
    text-decoration: none;
}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
button {
    background-color: #E176;
}
.selected {
    background-color: #E17654;
}